export ASDF_SKIP_RESHIM=1
export VERCEL_TOKEN="${VERCEL_TOKEN:-$(jq -r .token ~/.now/auth.json)}"

if has use_asdf; then
  use asdf
fi

PATH_add bin

if [ -f .env ]; then
  dotenv
fi

if [ -f .env.development ]; then
  dotenv .env.development
fi

if [ -f .env.local ]; then
  dotenv .env.local
fi
